.pannel {
    display: flex
}
    .pannel div {
        max-width: 475px;
    }
.pannelRight{
    margin-left: 45px;
    text-align: left;
}
.cell {
    min-Height: 150px;
    min-Width: 150px;
}
.cell {
    border: 2px solid black;
    border-radius: 15px;
}
.cell {
    font-size: 92px;
    font-style: normal;
    align-content: center;
    font-weight: bolder;
}
.cell {
    margin: 5px;
}

.cellMarque {
    font-size: 36px;
    font-style: normal;
    font-weight: bolder;
}
.footer{
    text-align:left;
}

.cellO {
    color: blue;
}

.cellX {
    color: red;
}

.cellMt {
    color: transparent;
}

#a1 .cell {
    border-top: none;
    border-left:none;
}
#a2 .cell {
    border-top: none;
    
}
#a3 .cell {
    border-top: none;
    border-right: none;
}
#b1 .cell {
   
    border-left: none;
}
#b3 .cell {
   
    border-right: none;
}
#c1 .cell {
    border-bottom: none;
    border-left: none;
}
#c2 .cell {
    border-bottom: none;
   
}
#c3 .cell {
    border-bottom: none;
    border-right: none;
}